table,
th,
td {
  border: 1px solid black;
}

.foto {
  width: 250px;

  height: auto;
}

.cuadroDescripcion {
  width: 200px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: rgb(61, 2, 2);

  background-color: rgb(237, 217, 188);
}
